<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('../partials/header'); %>
    <body>
        <!-- Navbar -->
        <%- include('../partials/navbar'); %>

        <!-- Content -->
        <div class="container mt-5">
            <h1>Update User</h1>
            <form action="/user/update/<%= user.id %>" method="POST">
                <div class="row mb-3">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" id="username" class="form-control" value="<%= user.username %>">
                        <span class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" id="password" class="form-control">
                        <span class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="cpassword" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="cpassword" id="cpassword" class="form-control">
                        <span class="invalid-feedback"></span>
                    </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer'); %>

        <!-- Form Validation -->
        <script src="/public/js/userUpdate.js"></script>
    </body>
</html>